<div class="navbar-container">
  <div class="nav-search-wrapper">
    <input type="search" placeholder="Search" class="nav-search" />

      <img
      class="search-icon"
        src="../../../../assets/admin-dashoard-images/search-icon.svg"
        alt="search-icon"
      />

  </div>
  <div class="nav-admin-info">
    <ul class="nav-info-list">
      <li class="nav-info-link">
        <img
          src="../../../../assets/admin-dashoard-images/basket.svg"
          alt="basket"
        />
      </li>
      <li class="nav-info-link">
        <img
          src="../../../../assets/admin-dashoard-images/notifcation.svg"
          alt="notifcation"
        />
        <div class="notifaction-point"></div>
      </li>
      <li class="nav-info-link">
        <img
          class="personal-img"
          src="../../../../assets/admin-dashoard-images/person.png"
          alt="personal-image"
        />
      </li>
      <li class="nav-personal-info">
        <div class="name">Khloud Rammah</div>
        <img
          src="../../../../assets/admin-dashoard-images/arrow.svg"
          class="arrow"
          alt="arrow"
        />
      </li>
    </ul>
  </div>
</div>
