:host {
  display: block;
}
.weekly-chart-container {
  width: 100%;
  height: 300px;
  margin: 0.5px;
  margin-bottom: 1rem;
}
::ng-deep .ngx-charts .tick text {
  font-size: 12px !important;
  fill: #666 !important;
}

::ng-deep .ngx-charts .gridline-path {
  stroke: unset !important;
}
::ng-deep .bar {
  fill: #0561fc !important;
}
