/* You can add global styles to this file, and also import other style files */
:root body {
    background-color: #F1F3F4 !important; /* Last resort */
    height: 100%;

    ul{
        padding-left: unset;
        list-style: none;
        margin-bottom: unset;
    }
  
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

 
}

